.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(107, 114, 128);
}

.calendar-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 400;
    margin: 20px;
}

.date {
    width: 130px;
    text-align: center;
    display: inline-block;
}

.datepicker {
    width: 100px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid rgb(107, 114, 128);
    color: rgb(107, 114, 128);
    border-radius: 4px;
}

.add-event {
    color: white;
    background-color: #ab53ff;
    text-align: center;
    line-height: 47px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
    margin: 20px auto 0 auto;
    transition: 200ms;
}

.add-event:hover {
    background-color: #9e37ff;
    transform: scale(1.1);
}