.event-modal {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 6px;
    height: 45%;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.close {
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    right: 20px;
}

.evt-delete {
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    right: 40px;
}
