.event-modal {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 6px;
    height: 45%;
    width: 20%;
    padding: 10px;
    text-align: center;
}
